<h1>{{title}}</h1>

{{#each books}}
 <p>
    <b>Name of the book: {{this.Name}}</b> <br>
    <l>Price:</l> {{this.Price}}€      <br>
    <l>Publish Date:</l> {{this.Publish_date}}        <br>
    <l>Description:</l> {{this.Description}}        <br>
</p>
{{/each}}